
.title_text {
	text-align: center;
}

.btn {
	position:absolute;
}

.featured_image{

	height:70%;
	width:70%;
}

.weather{
	padding: 20px;
	border-radius: 5px;
}

.hemi_img{
	height:80%;
	width:80%;
}